html,
body {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.2);
}

.starship-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  box-sizing: border-box;
  .starship {
    width: 80%;
    border: 1px solid #4a404070;
    margin: 6px auto;
    background-color: lightgrey;
    border-radius: 4px;
    .starship-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 15px;
      .name {
        padding: 2px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: end;
      }
      .value {
        justify-self: start;
        font-size: 26px;
        margin-left: 1px;
      }
    }
  }

  .navigation-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    border: 1px solid rgb(128, 144, 128);
    padding: 30px;
    background: white;
    grid-column-gap: 4em;
    button {
      justify-self: center;
      padding: 9px;
      font-size: 14px;
      font-weight: bolder;
      color: white;
      border-radius: 8px;
      outline: none;
      &:hover {
        cursor: pointer;
      }
      &.previous {
        background: orange;
        &:disabled {
          background: #ddb262;
          cursor: default;
        }
      }
      &.next {
        background: green;
        &:disabled {
          background: rgb(144, 167, 144);
          cursor: default;
        }
      }
    }
  }

  .progress-bar {
    width: 300px;
    height: 20px;
    background-color: white;
    margin: auto;
    border-radius: 9px;
    &.disabled {
      background-color: grey;
    }
    .progress {
      background-color: rgb(105, 192, 200);
      height: 100%;
      border-radius: 9px 0px 0px 9px;
    }
  }
}